{% load static %}
{% if banners %}
    <section>
        <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
        
            {% for banner in banners %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                <div class="gradient-overlay"></div>
                    <img src="{{banner.image.url}}" class="d-block w-100" alt="{{banner.title}}">
                    <div class="carousel-caption d-flex flex-column h-100 align-items-center justify-content-center bottom-0">
                        {% if banner.title %}
                            <h1 class="text-light bg-opacity-50 py-2 px-4 banner-text-heading">{{banner.title}}</h1>
                        {% endif %}
                        {% if banner.description %}
                        <h5 class="bg-darkd py-2 px-4"><span class="text-lightgg text-lg banner-text-description" style="color:rgb(40, 76, 82);" >{{banner.description}}</span></h5>
                        {% endif %}
                        {% if banner.link_url %}
                        <a href="{{banner.link_url}}" class="btn btn-secondary px-4 py-2 rounded-0">{{banner.btn_title|default:"Learn More" }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            {% comment %} <span class="banner-arrow-background"> {% endcomment %}
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            {% comment %} </span> {% endcomment %}
            <span class="visually-hidden">Next</span>
        </button>
        </div> 
    </section>
{% endif %}