{% extends "frontend/common/base.html" %}

{% block content %}
{% load static %}

   {% include "frontend/common/sections/single_banner.html" with banner=banner %}
   {% include "frontend/common/sections/categories.html" with categories=categories %}
   {% include "frontend/common/sections/about_us.html" %}
   {% include "frontend/common/sections/cta.html" %}
   {% include "frontend/common/sections/process.html" %}
   {% include "frontend/common/sections/call_cta.html" %}
   {% include "frontend/common/sections/reviews.html" %}
   {% include "frontend/common/sections/contact.html" %}
   {% comment %} {% include "frontend/common/sections/count.html" %} {% endcomment %}
   {% include "frontend/common/sections/brands.html" %}


   

    

    

    

    

    


    

   

    


    

   

{% endblock %}
