{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block submit_buttons_bottom %}
  {{ block.super }}
  {% if original and original.product_type == 20 %}

  <div class="form-group" style="margin-top: 10px;">
    <a href="{% url 'admin:variant-config-page' %}?product_id={{ original.id }}"
       class="btn btn-info form-control">
       <i class="fas fa-cogs"></i> Variant Configuration
    </a>
  </div>
  <div class="form-group" style="margin-top: 10px;">
    <a href="/admin/productManagement/productrelatedproducts/{{ original.id }}"
       class="btn btn-info form-control">
       <i class="fas fa-add"></i>Add Related Products
    </a>
  </div>
  {% endif %}
{% endblock %}
